.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav .brand-logo {
  color: #EEEEEE;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.github-logo {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #EEEEEE;
}

.github-logo i {
  font-size: 24px;
}

.github-logo i:hover {
  color: #CCCCCC;
}
.light-grey {
  background: #222831;
}

.sentence-card {
  position: sticky;
  text-align: center;
  padding: 4px;
}

.sentence-card .card-content {
  padding: 0;
}

.sentence-card-sticky {
  top: 0;
  z-index: 999;
}

.word-input-sticky {
  top: 130px;
}

.sticky-top {
  top: 0;
  position: sticky;
  z-index: 999;
}

.input-field{
  background-color: white;
}

.remove-sentence {
  background-color: #F05941 ;
}

.remove-sentence:hover {
  background-color: #BE3144;
}